
.article-page {
    margin-top: 6em;
}
.blogtitle
{
    position: absolute;
    text-align: center;
    font-family: zaf;
    color: white;
    font-size: 1.25em;
    top: 0;
    left: 25%;
    height: 22%;
    width: 50%;
    padding-bottom: 1.25em;
    background-color: rgb(70, 70, 70);
    box-shadow: 4px 0 4px 4px white;
}

.blog-article-text
{
    font-family: Tahoma;
    line-height: 1.75rem;
    text-indent: 30px;
}

.blog-description-text
{
    font-family: Tahoma;
}

.blog-headers {
    font-family: Berling;
}

.blog-searchbox, .blog-searchbox:focus {
    padding: 6px;
    border-top: 0px;
    border-right: 0px;
    width: 300px;
    margin-bottom: 1.5em;
}

.blog-searchbox:focus {
    outline: none;
}